{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'landing_page.css' %}" />
    <title>Timer</title>
  </head>
  <body>
    <header class="header">
      <div class="blankbox"></div>
      <h1 class="logo">Timer</h1>
      <a class="login-button" href="{% url 'login' %}">Login</a>
    </header>
    <main class="main">
      <div class="main-context">
        <p class="text1">Manage <br />deine <br />Zeit...</p>
        <p class="text2">Spare <br />mehr <br />Zeit...</p>
      </div>
      <a class="login-button" href="{% url 'register_page' %}"
        >Los Starten...</a
      >
    </main>
  </body>
</html>
