{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'login_page.css' %}" />
    <title>Timer - Login</title>
  </head>
  <body>
    <header class="header">
      <div class="blankbox"></div>
      <h1 class="logo">Timer</h1>
      <a class="login-button" href="{% url 'landing_page' %}">Zurück</a>
    </header>
    <main class="main">
      <div class="login-box">
        <form class="login-form" method="post" action="{% url 'login' %}">
          {% csrf_token %} {% if messages %}
          <div class="messages">
            {% for message in messages %}
            <p
              class="message {% if message.tags %}{{ message.tags }}{% endif %}"
            >
              {{ message }}
            </p>
            {% endfor %}
          </div>
          {% endif %}

          <label for="username">E-Mail oder Benutzername</label>
          <input
            type="username"
            id="username"
            name="username"
            placeholder="E-Mail oder Benutzername eingeben"
            required
          />

          <label for="password">Passwort</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Passwort eingeben"
            required
          />

          <button type="submit" class="login-button">Anmelden</button>
        </form>

        <a href="#">Haben Sie Passwort vergessen?</a>
      </div>
    </main>
  </body>
</html>
