<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../styles/login_page.css" />
    <title>Timer - Login</title>
  </head>
  <body>
    <header class="header">
      <div class="blankbox"></div>
      <h1 class="logo">Timer</h1>
      <a class="login-button" href="./landing_page.html">Zurück</a>
    </header>
    <main class="main">
      <div class="login-box">
        <form class="register-form">
          <label for="username">Username</label>
          <input
            type="username"
            id="username"
            placeholder="Username eingeben"
            required
          />

          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            placeholder="Email eingeben"
            required
          />

          <label for="password">Passwort</label>
          <input
            type="password"
            id="password"
            placeholder="Passwort eingeben"
            required
          />

          <label for="password">Passwort Wiederholen</label>
          <input
            type="password"
            id="password"
            placeholder="Passwort wiederholen"
            required
          />

          <button class="login-button">Register</button>
        </form>
      </div>
    </main>
  </body>
</html>
